* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --black-text: #0d0d0d;
  --grey-text: #333333;
  --highlight-bg: #ff4d00;
  --Second-bg: #f5f2eb;
  --Third-bg: #02362d;
}
body {
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  scroll-behavior: smooth;
  position: relative;
}

a {
  text-decoration: none;
  color: #0d0d0d;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* ********************************************** */
/* navbar */
header {
  min-height: 100%;
  height: 100vh;
  background-color: white;
  padding: 0px 24px;
}
.navbar {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  font-weight: bold;
  font-size: 32px;
}

.logo-bg {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #ff4d00;
  border-radius: 50%;
}

.navbar-flex > ul {
  display: flex;
  gap: 24px;
}
.navbar-contact-list {
  outline: none;
  border: 1px solid var(--grey-text);
  border-radius: 20px;
  padding: 4px 10px;
}

.navbar-contact-list:hover {
  outline: none;
  padding: 4px 10px;
  border: 0px;
  background-color: #0d0d0d;
  color: white;
  transition: 0.2s ease-in-out;
}

/* Mobile Togle  */
.hamburger {
  width: 35px;
  height: 35px;
  display: none;
  position: relative;
  margin-left: auto;
}

.hamburger span {
  height: 3px;
  width: 100%;
  background-color: blue;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 25%;
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger span:nth-child(3) {
  top: 75%;
}

/* Dynamic Change in Mobile Toggle */
.hamburger span:nth-child(1),
.hamburger span:nth-child(3) {
  transition: all 0.3s ease-in-out;
}

.hamburger.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (max-width: 786px) {
  .navbar {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-logo {
    font-size: 24px;
  }

  .navbar-flex > ul {
    width: 100%;
    background-color: var(--Second-bg);
    position: absolute;
    top: 90px;
    height: 480px;
    left: -1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
    transition: all 0.7s ease-in-out;
  }

  .navbar-flex > ul.active {
    position: absolute;
    left: 0px;
  }

  .navbar-flex > ul.active > li {
    font-size: 18px;
  }

  .navbar-contact-list {
    border: none;
  }

  /* Mobile Toggle */
  .hamburger {
    display: inline-block;
    cursor: pointer;
  }
}

/* ********************************************** */
/* section 01  */
/* Call To Action Section */

.section-cta {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cta-tagline-data-wizard {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  color: var(--highlight-bg);
}
.cta-heading {
  width: 100%;
  font-size: 64px;
  text-align: center;
}
.cta-heading-sub {
  font-size: 30px;
  font-weight: 500;
}

.cta-button-section {
  margin-top: 20px;
}
.cta-subheading-numbers-to-narratives {
  text-align: center;
  color: var(--grey-text);
  font-size: 20px;
  font-weight: 500;
}

.cta-button {
  padding: 20px 24px;
  border: none;
  outline: none;
  display: block;
  margin-top: 30px;
  margin-inline: auto;
  border-radius: 999px;
  background-color: var(--highlight-bg);
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 786px) {
  .section-cta {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 30px;
  }
  .cta-tagline-data-wizard {
    font-size: 14px;
  }
  .cta-heading {
    text-align: start;
    font-size: 48px;
  }
  .cta-subheading-numbers-to-narratives {
    font-size: 16px;
  }
}
/* ********************************************** */
/* Section 02 */
.section-services {
  background-color: var(--Second-bg);
  min-height: 100%;
  padding: 0px 24px;
  padding-bottom: 30px;
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
}

.section-services-list {
  padding-top: 70px;
  margin-bottom: 40px;
}
.services-text-heading {
  font-weight: 500;
  font-size: 24px;
  color: var(--highlight-bg);
}
.section-flex-items-list {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services-tagline {
  color: var(--grey-text);
  width: 85%;
  font-size: 36px;
  text-align: center;
}
.Image-visualization {
  margin-top: 20px;
}

.down-arrow-projection {
  width: 100px;
  height: 100px;
}
.services-names-order {
  margin-block: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
}
.services-names {
  padding: 8px 14px;
  text-transform: capitalize;
  text-align: center;
  border: 1px solid var(--grey-text);
  border-radius: 999px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .services-text-heading {
    text-align: center;
    font-size: 18px;
  }
  .section-flex-items-list {
    margin-top: 24px;
  }
  .services-tagline {
    font-size: 30px;
  }
  .Image-visualization {
    width: 240px;
    height: 240px;
  }
  .down-arrow-projection {
    width: 50px;
    height: 100px;
  }
  .services-names-order {
    margin-block: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
  }
}

/* ********************************************** */
/* Section 03 */
.section-work {
  margin-top: 40px;
  padding: 0px 24px;
  min-height: 100%;
}
.section-work-flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 38px;
  align-items: center;
  justify-content: center;
}
.section-work-flex-items > h3 {
  padding-top: 14px;
  color: var(--grey-text);
  text-align: center;
  font-weight: 500;
}

.section-work-heading {
  color: var(--highlight-bg);
  font-weight: 500;
  margin-bottom: 16px;
}

.section-work-subheading {
  text-align: center;
  margin-bottom: 48px;
  font-size: 36px;
  color: var(--grey-text);
}

@media screen and (max-width: 786px) {
  .section-work-flex {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .section-work-flex-items {
    margin-bottom: 24px;
  }

  .section-work-flex-items > h3 {
    margin-top: 20px;
  }
}
/* ********************************************** */
/* Section 04 */
.section-contact {
  background-color: var(--Second-bg);
  padding: 0px 24px;
  min-height: 100%;
}
.section-contact-flex {
  display: flex;
  justify-content: space-around;
}

.section-contact-banner-img {
  width: 560px;
  height: 480px;
}

.section-contact-form-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 36px;
}

.section-contact-form-details > h1 {
  font-size: 36px;
  font-weight: 600;
  color: var(--highlight-bg);
}

.section-contact-form-details > p {
  font-size: 14px;
  color: var(--grey-text);
  margin-top: 8px;
}
.section-contact-form-cta {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.cta-button-redirect-link {
  border: none;
  outline: none;
  background-color: var(--highlight-bg);
  color: white;
  border-radius: 99px;
  padding: 16px 16px;
  margin-top: 16px;
}

.button-copy-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.copy-email {
  outline: none;
  border: none;
  background-color: #ccc;
  display: block;
  padding: 16px 24px;
  border-radius: 99px;
  transform: scale(0.9);
  transition: all 0.3s ease-out;
}
.copy-email:active {
  transform: scale(1);
}

.alert-text {
  font-size: 14px;
  opacity: 0;
  transition: all 1s ease-in-out;
}

@media screen and (max-width: 768px) {
  .section-contact-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .section-contact-banner-img {
    width: 100%;
    height: 100%;
  }
  .section-contact-banner-img > img {
    width: 100%;
    height: 360px;
  }
}
/* ********************************************** */

/* ********************************************** */
/* Section 05  Footer */
.footer {
  background-color: white;
  padding: 0px 24px;
}
.section-footer {
  height: 360px;
  padding: 10px 48px;
}
.section-footer-flex {
  height: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.section-footer-flex > div > p {
  color: var(--grey-text);
  margin-top: 12px;
  font-size: 14px;
  width: 65%;
}

.email-button {
  margin-top: 12px;
  outline: none;
  border: none;
  padding: 8px 12px;
  border-radius: 999px;
}
.section-footer-logo-text > h1 {
  font-size: 36px;
}
.section-footer-logo-text > p {
  line-height: 165%;
}
.section-footer-navlinks > h2 {
  margin-bottom: 14px;
}
.section-footer-navlinks > ul > li {
  margin-bottom: 8px;
}

.section-footer-navlinks > ul > li > a {
  color: var(--grey-text);
}

/* Year Copyright */
.copyright-section {
  display: flex;
  justify-content: center;
}

.copyright-section > h4 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.copyright-year {
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  .section-footer {
    margin-top: 48px;
    height: 100%;
  }
  .section-footer-flex {
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    align-items: start;
    gap: 36px;
  }
  .section-footer-logo-text > h1 {
    font-size: 24px;
  }
  .section-footer-logo-text > p {
    font-size: 10px;
  }

  .copyright-section > h4 {
    font-size: 16px;
    font-weight: 500;
    margin-block: 10px;
  }
}
/* ********************************************** */
